{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  Blog Detalhe
{% endblock title %}

{% block body_block %}
  <div class="row">
    <div class="col-sm-6">
      <h2>{{blog.blog_titulo}}</h2>
      <h4>Postado por: {{blog.autor}}</h4>
      <i><h6>Publicado em: {{blog.data_publicacao}}</h6></i>
      <i><h6>Publicado em: {{blog.data_atualizacao}}</h6></i>
    </div>

    <div class="col-sm-6">
      <img src="/media/{{blog.blog_imagem}}" width="100%">
    </div>
    {{blog.blog_conteudo|linebreaks}}
  </div>

  <div class="row">
    <div class="col-sm-6">
      <h5>Comentarios:</h5>
        {% for comentario in blog.blog_comentario.all %}
          <p><a href="">{{comentario.usuario}}</a></p>
          {{comentario.comentario}} <br>
          <h6><i>{{comentario.data_comentario}}</i></h6>
        {% endfor %}
      
    </div>

    <div class="col-sm-6">
      <form method="post">
        {{form|crispy}}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-sm">Comentar</button>
      </form>
    </div>
  </div>
  <br><br><br>
{% endblock body_block %}